/* Write your custom CSS here */
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.img_con {
    display: inline-block;
    margin: 3px;
}
.img_con .initials {
    background: #FFD54C;
    color: #000;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    display: block;
}
.img_con img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.login-page {
    background: url(../images/login.jpeg) center center no-repeat fixed;
}